prune archives
prune data
prune artifacts
prune outputs
prune .venv
prune can_bus
prune maps
prune samples
prune sweeps
prune v1.0-mini
prune v1.0-trainval
global-exclude *.tgz
global-exclude *.tar
global-exclude *.zip
global-exclude *.7z
global-exclude *.sqlite
global-exclude .ipynb_checkpoints
global-exclude __pycache__
global-exclude *.py[cod]
